<div class="d-flex align-items-center justify-content">
  <h1>Welcome to scheduled tweets</h1>
  <% if @user %> 
    Logged in <%= @user.email %>    
    <%= button_to "logout", logout_path, method: :delete %>
  <% end %>    
</div>